/* some style */

* {
  box-sizing: border-box;
}

body {
  background: #32302f; /* bc no white bg */
  padding: 0;
  margin: 0;
}

.correct {
    color: #1c54ff;
}

.incorrect {
    color: #f20434;
}

.cursor {
    background: #3bd376;
    color: #111;
}

